<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<!---->
{% extends "layout.html" %}
{% block content %}

<style>
body {
  background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pdflowerset19b2-eye-02-c-tropical-leaves-l_1.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=df5464ce6b3d74f1826f7b6c7d27e8b2');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
<h1><p style="color:white">Display Page</p></h1>

</body>
</html>
<!---
{% endblock content %}
-->